#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#container #carga ion-item {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: 15px;
  margin-bottom: 15px;
}

#container .profileImage img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid white;
}
