<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
    <ion-button [routerLink]="['/mantenedor']" >Admin</ion-button>
  </ion-toolbar>
</ion-header>

<!-- Main -->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Login de acceso</ion-card-subtitle>
        <ion-card-title>Credenciales</ion-card-title>
      </ion-card-header>
      <ion-card-content>  
        <div class="profileImage"><img src=".assets/img/logo.webp" alt=""></div>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="user.username" label="Usuario" labelPlacement="floating" placeholder="Ingrese usuario"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="user.password" label="Contraseña" type="password" labelPlacement="floating" placeholder="Ingrese su contraseña"></ion-input>
          </ion-item>
          <ion-item>
            <ion-toggle justify="end">Recuerdame</ion-toggle><br /><br />
          </ion-item>

          <div id="carga" *ngIf="spinner">
            <ion-item>Cargando</ion-item>
            <ion-item>
              <mat-spinner> </mat-spinner>
            </ion-item>
          </div>
          
          <ion-button (click)="validar()">Ingresar</ion-button>
          <br>
          <ion-button [routerLink]="['/register']">Registrar</ion-button>
        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>
</ion-content>
